page-tutorial-info {
  code {
    display: block;
    white-space: pre-wrap
  }

  .pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0px;
  }

  /*#city td {
    line-height: 29px;
  }*/

  table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
  }

  table.alt {
    text-align: left;
    border: 2px solid #c7ccbe;
    display: table;
    border-collapse: collapse;
    border-spacing: 0px;
    width: 100%;
  }
  table.alt tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
  }
  tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
  }
  table.alt tr:nth-child(odd) {
    background-color: #eff1eb;
  }
  table.alt tr:nth-child(even) {
    background-color: #fff;
  }
  tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
  }

  .p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
  }

  .box {
    height: 50px;;
    margin: 0;
    background: #FFF;
  }

  .effect1 {
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
  }

  .codeblock {
    max-width: 320px;
    width: 100%;
    font-family: verdana;
    padding-left: 0px;
    border: 1px solid #d5ddc6;
    border-left: 4px solid #6b5;
    -moz-box-shadow: 0px 0px 0px #d4d4d4;
    -webkit-box-shadow: 0px 0px 0px #d4d4d4;
    box-shadow: 0px 0px 0px #d4d4d4;
  }

  .dp-highlighter {
    width: inherit;
    overflow: scroll;
    margin: 8px 0 !important;
    padding-top: 0;
  }
  .dp-highlighter ol li, .dp-highlighter .columns div {
    padding: 0px 3px 0px 10px !important;
  }

  .dp-highlighter .keyword {
    color: #069;
    font-weight: 700;
    background-color: inherit;
  }

  .dp-j .number {
    color: #C00000;
  }
  ol {
    display: block;
    list-style-type: decimal;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
  }

  ul, ul.points {
    list-style: circle;
    line-height: 150%;
  }
  .dp-highlighter ol, .dp-highlighter ol li, .dp-highlighter ol li span {
    margin: 0;
    padding: 0;
    border: none;
  }
  .dp-highlighter .comment, .dp-highlighter .comments {
    color: #008200;
    background-color: inherit;
  }

  .h1 {
    margin-top: 5px;
    font-family: erdana, helvetica, arial, sans-serif;
    font-size: 29px;
    color: #610B38;
    font-weight: 400;
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
  }
  h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
  }

  h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
  }
  .h2 {
    font-family: erdana, helvetica, arial, sans-serif;
    font-size: 25px;
    color: #610B38;
    font-weight: 400;
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
  }
  .h3 {
    font-family: erdana,helvetica,arial,sans-serif;
    font-size: 21px;
    color: #610B4B;
    font-weight: 400;
    display: block;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;

  }
  .h4 {
    font-family: erdana,helvetica,arial,sans-serif;
    color: #610B4B;
    font-size: 19px;
    font-weight: 500;
    margin-left: 0;
    padding: 0;
    display: block;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
  }

  .h3ex {
    font: 22px tahoma;
    color: #610B4B;
    font-weight: 400;
    display: block;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
  }

  h1, h2, h3 {
    line-height: 1.3em;
  }
  table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
  }
  .codeblock3 {
    overflow: scroll;
    max-width: 320px;
    width: auto;
    margin: 8px 0px 0px 0px;
    background: #f9fbf9;
    padding: 0px;
    padding-left: 5px;
    font-family: verdana;
    border: 1px solid #d5ddc6;
  }


  .n {
    padding: 15px 15px 15px 15px;
    border: 1px solid pink;
    border-left: 3px solid orange;
    font-size: 14px;
    color: green;
    font-family: sans-serif;
    background: url(../../../www/assets/img/note.png) no-repeat 4px 10px;
    border-radius: 3px;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
  }

  #r {
    padding: 15px 15px 15px 15px;
    border: 1px solid pink;
    border-left: 3px solid orange;
    font-size: 14px;
    color: green;
    font-family: sans-serif;
    background: url(../../../www/assets/img/note.png) no-repeat 4px 10px;
    border-radius: 3px;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
  }

  .buttonColor{
    background: color($colors, color4);
  }

  .button-md{
    margin: 0px;
  }

}
