page-programs {
  .accordion-list {
    height: 100%;
  }

  .label{
    margin:0px;
  }
  .list{
    margin-bottom: 4px;
  }
  .p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
  }
  .list-header-md {
    margin-bottom: 0px;
  }


}
